#chart {
    overflow-y: auto;

  }
  #chart svg {
    max-width: initial;
  }
  #input {
    width: 250px;
  }
  #selector {
    display: flex;
  }
  #selector p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
  }
  .legend-title {
    margin-right: 10px;
  }
  p {
    font-family: Arial;
    font-size:12px;
  }
  li {
    font-family: Arial;
    font-size:12px;
  }
  h1 {
    font-family: Arial;
    box-sizing: content-box; /* por default */
    width: 580px;
    padding: 6px;
    border: 0px outset;
    margin: 5px;
  }
  h5{
    font-family: Arial;
    font-style:none;
    font-size:12px;
  }
  #cuerpo{
    box-sizing: content-box; /* por default */
    width: 580px;
    padding: 5px;
    border: 0px outset;
    margin: 5px;
  }
  h6{
    font-family: Arial;
    font-size:12px;
    color:rgba(128, 128, 128, 0.548)
  }
  #fuente{
    margin-top: -63px;
    margin-left: 480px;
  }