h1{
    color:rgb(226, 213, 242);
    font-size: 60px;
    margin: 10;
}
a{
    color:rgb(226, 213, 242)

}
*{
    background-color: rgb(12, 3, 24);;
    color:rgb(226, 213, 242);
    font-family:  'Lucida Grande';
}