

  h1 {
    text-align: left;
    letter-spacing: 2px;
    box-sizing: content-box; /* por default */
    width: 800px;
    font-size: 36px;
    margin-top:13px;
  }
  p {
    font-size: large;
    color: rgb(140, 133, 149);
  
  }



#chart {
    display: grid;
    width: 10000%;
    text-transform: capitalize;
    font-weight: 500;
    
  }
  #chart svg {
    background-color: rgb(12, 3, 24);
  }

  body{
    box-sizing: content-box; /* por default */
    width: 645px;
    padding: 10px;
    margin: 10px;
  }
 
a{
    font-weight: bold;
    margin-left: 90%;
    margin-top: 30%;
    font-size: 10;
  }
  *{
    font-family:  'Lucida Grande';
    background-color: rgb(12, 3, 24);
    color:rgb(226, 213, 242);
  }