
  h1 {
    text-align: left;
    letter-spacing: 2px;
    box-sizing: content-box; /* por default */
    width: 800px;
    font-size: 36px;
    margin-top:13px;
    margin-left: 15px;
  }
  p {
    text-align: left;
    text-decoration: none;
    font-size: large;
    color: rgb(140, 133, 149);
    margin-left: 15px;
  
  }

#chart {
    display: grid;
    text-transform: capitalize;
    font-weight: 500;
    
  }
  #chart svg {
    background-color: rgb(12, 3, 24);
  }

a{
    font-weight: bold;
    margin-left: 90%;
    margin-top: 30%;
    font-size: 16px;
  }
  *{
    font-family:  'Lucida Grande';
    background-color: rgb(12, 3, 24);
    color:rgb(226, 213, 242);
    font-size: 20px;
  }