h1 {
  box-sizing: content-box; /* por default */
  width: 580px;
  padding: 6px;
  border: 0px outset;
  margin: 10px;
  font-size: 36px;
  margin-left:-7px;
  margin-top:13px;
}
#chart{
    align-content: center;
    text-transform: capitalize;
    font-weight: 600;}

#chart{
    font-size: 200%;
    align-content: center;
}

#chart {
    overflow-y:auto;
    align-content: center;
    
  }
  #chart svg {
    max-width: max-content;
    align-content: center;
    background-color: rgb(12, 3, 24);
  }
  #input {
    width: 400px;
  }
  body{
    box-sizing: content-box; /* por default */
    width: 645px;
    padding: 20px;
    border: 0px double;
    margin: 10px;
  }
 
  .legend-title {
    margin-right: 10px;

  }
a{
    font-weight: bold;
    margin-left: 90%;
    margin-top: 30%;
    font-size: 10;
  }
  *{
    font-family:  'Lucida Grande';
    background-color: rgb(12, 3, 24);
    color:rgb(226, 213, 242);
  }