h1{
    text-align: center;
    font-size: 32px;;
    font-weight: 600;
}
#chart{
    align-content: center;
    text-transform: capitalize;
    font-weight: 600;}

#chart{
    font-size: 200%;
    align-content: center;
}

#chart {
    overflow-y:auto;
    align-content: center;
    
  }
  #chart svg {
    max-width: max-content;
    align-content: center;
    background-color: rgb(12, 3, 24);
  }
  #input {
    width: 400px;
  }
 
  .legend-title {
    margin-right: 10px;

  }
a{
    font-weight: bold;
    margin-left: 90%;
    margin-top: 30%;
    font-size: 10;
  }
  *{
    font-family:  'Lucida Grande';
    background-color: rgb(12, 3, 24);
    color:rgb(226, 213, 242);
  }