#total {
    font-family: Arial;
    margin-top: -257px;
    margin-bottom: 250px;
    margin-right: 500px;
    margin-left: 582px;
    font-style: bold;
    font-size: 14px
    }
#usa{
    font-family: Arial;
    margin-top: -176px;
    margin-bottom: 250px;
    margin-right: 500px;
    margin-left: 582px;
    color: red;
    font-size: 14px;
        }
#Rusia {
    font-family: Arial;
    margin-top: -225px;
    margin-bottom: 250px;
    margin-right: 500px;
    margin-left: 582px;
    color: green;
    font-size: 14px;
    }
    #chart {
        overflow-y: auto;
      }
      #chart svg {
        max-width: initial;
      }
      p {
        font-family: Arial;
        text-decoration: none;
        font-size:12px;
        color: gray;
      }
      h1 {
        font-family: Arial;
      } 
      body{
        box-sizing: content-box; /* por default */
        width: 645px;
        padding: 20px;
        border: 0px double;
        margin: 10px;
      }
