#total {
    font-family: Arial;
    margin-top: -257px;
    margin-bottom: 250px;
    margin-right: 500px;
    margin-left: 582px;
    font-style: bold;
    font-size: 12px
    }
#usa{
    font-family: Arial;
    margin-top: -173px;
    margin-bottom: 250px;
    margin-right: 500px;
    margin-left: 582px;
    color: red;
    font-size: 12px;
        }
#Rusia {
    font-family: Arial;
    margin-top: -225px;
    margin-bottom: 253px;
    margin-right: 500px;
    margin-left: 582px;
    color: green;
    font-size: 12px;
    }
    #chart {
        overflow-y: auto;
      }
      #chart svg {
        max-width: initial;
      }
      p {
        font-family: Arial;
        text-decoration: none;
        font-size:12px;
        color: gray;
      }
      h1 {
        font-family: Arial;
        font-size:30px;
      } 
      body{
        box-sizing: content-box; /* por default */
        width: 645px;
        padding: 20px;
        border: 0px double;
        margin: 10px;
      }
#maximo{
  font-family: Arial;
  font-size:14px;
  color: grey;
  margin-top: -0px;
  margin-left: 460px;
}
#anio{
  font-family: Arial;
  font-size:20px;
  font-weight: bold;
  margin-top: -645px;
  margin-left: 462px;
}
#flecha{
  margin-top: -30px;
  margin-left: 407px;
  color: grey;
}
h6{
  font-family: Arial;
  font-size:12px;
  color:rgba(128, 128, 128, 0.548)
}
#fuente{
  margin-top: 500px;
  margin-left: 530px;
}