#total {
    margin-top: -257px;
    margin-bottom: 250px;
    margin-right: 500px;
    margin-left: 582px;
    font-style: bold;
    font-size: 12px
    }
#usa{
    margin-top: -173px;
    margin-bottom: 250px;
    margin-right: 500px;
    margin-left: 582px;
    color: magenta;
    font-size: 12px;
        }
#Rusia {
    margin-top: -225px;
    margin-bottom: 253px;
    margin-right: 500px;
    margin-left: 582px;
    color: blue;
    font-size: 12px;
    }
    #chart {
        overflow-y: auto;
      }
      #chart svg {
        max-width: initial;
        background-color: rgb(12, 3, 24);
      }
      p {
        text-decoration: none;
        font-size:14px;
        color: rgb(140, 133, 149);
      }
      h1 {
        font-size:36px;
      } 
      /*chequear si queda mejor sin esto*/
      body{
        box-sizing: content-box; /* por default */
        width: 645px;
        padding: 20px;
        border: 0px double;
        margin: 10px;
      }
#maximo{
  font-size:14px;
  color: rgb(140, 133, 149);
  margin-top: -0px;
  margin-left: 460px;
}
#anio{
  font-size:20px;
  font-weight: bold;
  margin-top: -645px;
  margin-left: 462px;
}
#flecha{
  margin-top: -30px;
  margin-left: 407px;
  color: rgb(140, 133, 149);
}
h6{
  font-size:12px;
  color:rgb(140, 133, 149);
}
#fuente{
  margin-top: 500px;
  margin-left: 530px;
}

.my-link {
  color: rgba(128, 128, 128, 0.548);
  margin-left: 90%;
  margin-top: 100%;


}

a{
  font-weight: bold;
  margin-left: 90%;
  margin-top: 30%;
  font-size: 10;
}
#todo{
  margin-right: auto;
  margin-left: auto;
}
*{
  font-family:  'Lucida Grande';
  background-color: rgb(12, 3, 24);
  color:rgb(226, 213, 242);
}