<<<<<<< HEAD

h1 {
  text-align: left;
  letter-spacing: 2px;
  box-sizing: content-box; /* por default */
  font-size: 36px;
  margin-top:13px;
}
p {
  text-align: left;
  text-decoration: none;
  font-size: large;
  color: rgb(140, 133, 149);

}

#chart {
  text-transform: capitalize;
  font-weight: 500;
  color: rgb(140, 133, 149);
  
}
#chart svg {
  background-color: rgb(12, 3, 24);
}

body{
  box-sizing: content-box; /* por default */
  width: 1000px;
  padding: 20px;
  border: 0px double;
  margin: 0px;
}

.legend-title {
  margin-right: 10px;

}
a{
  font-weight: bold;
  margin-left: 90%;
  margin-top: 30%;
  font-size: 10;
}
*{
  font-family:  'Lucida Grande';
  background-color: rgb(12, 3, 24);
  color:rgb(226, 213, 242);
}
=======
h1{
    text-align: center;
    font-weight: 600; 
    font-size:36px; 
}
p {
  text-decoration: none;
  font-size:14px;
  color: rgb(140, 133, 149);
}
#chart{
    align-content: center;
    text-transform: capitalize;
    font-weight: 600;
    margin-left: 10%;
  }

#chart{
    font-size: 200%,
}


#fuente{
  margin-top: 500px;
  margin-left: 530px;
}
#chart {
    overflow-y:auto
    
  }
  #chart svg {
    max-width: max-content;
    background-color: rgb(12, 3, 24);
  }
  #input {
    width: 400px;
  }
 
  .legend-title {
    margin-right: 10px;

  }
  a{
    font-weight: bold;
    margin-left: 90%;
    margin-top: 30%;
    font-size: 10;
  }
  #todo{
    margin-right: auto;
    margin-left: auto;
  }
  *{
    font-family:  'Lucida Grande';
    background-color: rgb(12, 3, 24);
    color:rgb(226, 213, 242);
  }
>>>>>>> 0359ce849041e0b271eb72e5216a12fbbc9842fc
